@charset "utf-8";

.logo{
	margin:0;
	padding:0;
}
#myCaousel{
	margin:50px 0 0;
}
#navbar-collapse{
	margin-top:0;
}
.carousel img{
	margin:0 auto;
}
/*.carousel-control{
	font-size:100px;

}*/
.tab-h2{
	font-size:30px;
	text-align: center;
	letter-spacing: 1px;
	color:#0059B2;
}
.tab-p{
	font-size:18px;
	text-align: center;
	letter-spacing: 1px;
	color:#999;
}
.tab1{
	margin:30px 0;
	color:#666;
}
.tab1 .text-muted{
	color:#999;
	text-decoration: line-through;
}
.media-heading{
	margin:5px 0 20px 0;
}